.a1{
    position: relative;
    top: 35px;
    background-color: white;
    height: 50px;
    width: 30px;
    left: 730px;
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    display: inline;
    padding: 0px 20px;
}

.hr1{
    width: 800px;
}
.one{
    position: absolute;
    left: 50px;
}

.img{
    position: absolute;
    top: 25px;
    left: 820px;
    margin-top: 15px;
}
.back{
    color: gray;
    font-size: 40px;
    font-family: sans-serif;
    position: absolute;
    padding-top: 50px;
    left: 900px;
}

.line{
    text-decoration-line: line-through;
    font-size: 23px;
    font-family: sans-serif;
    padding-top: 20px;
    font-weight: bolder;
    color: tomato;
}
.line2{
    color: black;
    font-family: sans-serif;
}

.paris{
    height: 450px;
    width: 400px;
    border: solid 2px tomato;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    padding: 0px 20px;
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    left: 670px;
    top: 150px;
    position: absolute;
    color: red;
}

.plus{
    position: relative;
    top: 180px;
    left: 180px;
}