body{
    text-align: center;
    background-color: yellow;
}
.box{
    text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 83, 238);
    animation: box 2s linear infinite;
    margin-left: 20px;
    display: inline-block;
}
.box2{
    text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgb(134, 40, 3);
    animation: box2 2s linear infinite;
    margin-left: 20px;
    display: inline-block;

}
.box3{
    text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgb(3, 6, 199);
    animation: box3 2s linear infinite;
    margin-left: 20px;
    display: inline-block;

}
.box4{
text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgb(0, 47, 148);
    animation: box4 2s linear infinite;
    margin-left: 20px;
    display: inline-block;
}
.box5{
    text-align: left;
    width: 100px;
    height: 100px;
    background-color: rgb(218, 1, 1);
    animation: box5 2s linear infinite;
    margin-left: 20px;
    display: inline-block;
}
.box6{
    text-align: left;
        width: 100px;
        height: 100px;
        background-color: rgb(4, 109, 0);
        animation: box6 2s linear infinite;
        margin-left: 20px;
        display: inline-block;
}
/*skewx*/
@keyframes box{
    0%{
      transform: skewX(20deg)
    }
    100%{
        transform: skewX(-20deg);
    }
}
/*skewy*/
@keyframes box2{
    0%{
        transform: skewy(20deg);
    }
    100%{
        transform: skewy(-20deg);
    }
}
/*rotate*/
@keyframes box3{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(100deg);
    }
}
/*rotatex*/
@keyframes box4{
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(50deg);
    }
}
/*rotaey*/
@keyframes box5{
    0%{
        transform: rotatey(0deg);
    }
    100%{
        transform: rotatey(50deg);
    }
}
/*rotae*/
@keyframes box6{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(110deg);
    }
}
a{
    font-weight: bolder;
    font-size: 30px;
}